/node_modules
Homestead.yaml
Homestead.json
.env
web.config
/nbproject/
/public/upload/

*.bak
*.idea
*.db
/storage/framework/views/*
!/storage/framework/views/readme.txt
.idea/*
/vendor/
/infomation/1618_waiguoyudaxuejifen/nbproject/private/
/public/qrcodes
/infomation/