	/*960*/
*{
    box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {

}
body a {
	text-decoration: none;
	color: #00baff;
}
.main {
	width: 100%;
	margin: 0 auto;
	text-align: left;
	color: #333;
}
.title {
	background-color: #FFF;
	height: 45px;
	line-height: 45px;
	border-bottom: 1px solid #eaeaea;
	text-align: center;
	font-size: 1.8rem;
	color: #595757;
}
.checked {
	display: block;/*	background: #fff;
*/
}
/*padding10px*/
.con_box {
	padding:10px;
	overflow:hidden;
}
.pic {
	text-align: center;
	padding: 10px;
	min-height: 100px;
	position:relative;
}
.pic img {
	width: 100%;
}
.pic .mask {
	position:absolute;
	top:0;
	right:0;
}
.goods {
	height: 44px;
	line-height: 44px;
	padding: 0 10px;
	background: #f2fbff;
	border-bottom: 1px solid #d4f3ff;
}
.goods .name {
	float: left;
	font-size: 1.8rem;
}
.goods .price {
	float: right;
	font-size: 1.4rem;
}
.goods .price span {
	color: #dd2727;
	font-size: 2.6rem;
}
.readme {
	width: 100%;
	/*background: url(/_images/more.png) no-repeat center right;*/
	border-bottom: 10px solid #efefef;
	font-size: 1.4rem;
}
.readme0 {
	display: block;
	height: 45px;
	width: 90%;
	line-height: 45px;
	padding-left: 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	text-decoration: none;
	color: #808080;
}
.content {
	width: 100%;
	background: #fff;
	line-height: 23px;
	font-size: 1.4rem;
	position: fixed;
	bottom: 0px;
	top: auto;
	margin-bottom: -445px;
	z-index: 599;
}
.content .title {
	height: 44px;
	line-height: 44px;
	border-bottom: 1px solid #eee;
}
.content .text {
	color: #808080;
	padding: 10px;
	min-height: 160px;
	max-height: 310px;
	overflow: auto;
}
.content input {
	width: 100%;
	height: 45px;
	background: #00baff;
	color: #fff;
	font-size: 1.6rem;
}
.but01 {
	font-size: 1.6rem;
	text-align: center;
	position: fixed;
	bottom: 0px;
	top: auto;
	z-index: 10;
	height: 45px;
	line-height: 45px;
	width: 50%;
	color: #fff;
}
.unlink .pay {  /*购买完商品回首页支付按钮不效果可点击*/
	background-color: #999;
}
.pay {
	background-color: #00baff;
	right: 0;
}
.addcart {
	background: #333333;
	left: 0;
}
.cart {
	height: 35px;
	width: 35px;
	/*background: url(/_images/cart0.png) no-repeat center;*/
	position: fixed;
	bottom: 101px;
	right: 0;
	z-index: 20;
}
.listview0 {
	background: #fff;
	overflow: hidden;
	margin: 0px 0 100px 0;
}
.listview0 .tit {
	font-size: 1.4rem;
	height: 45px;
	line-height: 45px;
	padding-left: 10px;
	border-bottom: 1px solid #eaeaea;
}
.listview01 {
	width: 100%;
}
.listview01 li {
	width: 33.3%;
	float: left;
}
.listview01 .block01 {
	padding: 5px;
}
.pic01 {
	position: relative;
	text-align: center;
	width: 100%;
	background-color:#eaeaea;
}
.pic01 img {
	width: 100%;
	display: block;
}
.block01 .name01 {
	font-size: 1.2rem;
	text-align: center;
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	background: #eaeaea;
	margin-top: 1px;
}
.pic01 .blackbg {
	width: 100%;
	height: 25px;
	background: #fff;
	opacity: 0.7;
	position: absolute;
	bottom: 0;
	left: 0;
}
.pic01 .price {
	color: #333;
	width: 100%;
	height: 25px;
	line-height: 25px;
	font-size: 1.4rem;
	position: absolute;
	bottom: 0;
	z-index: 1;
}
.pic01 .price span {
	color: #dd2727;
	font-size: 2rem;
}
/*--------------------------------------------------公共部分-------------------------------------------------------*/
.bold {
	font-weight: bold;
}
input {
	/*	-webkit-appearance: none;
*/	border: 0;
}
/*加入购物车*/
._box {
	position: absolute;
	z-index: 50;
	border-radius: 200px;
	width: 300px;
	height: 300px;
}
.carnums {
	display: block;
	color: #FFF;
	background-color: #F00;
	height: 15px;
	width: 15px;
	border-radius: 8px;
	line-height: 15px;
	text-align: center;
}
/*购买成功页*/
.paysuccess {
	padding: 0 8px;
}
.suctit {
	font-size: 1.8rem;
	text-align: center;
	width: 220px;
	margin: 0 auto;
	height: 48px;
	padding-top: 30px;
	/*background: url(/_images/inc.png) no-repeat;*/
	background-position: 0px 31px;
	background-size: 20px 20px;
	color: #727070;
}
.suctitboder {
	border-bottom: 1px dashed #999999;
}
.suctxtboder {
	border-bottom: 1px dashed #999999;
}
.inc {
	margin-top: 2px;
}
.suctxt {
	margin: 20px auto;
	font-size: 1.4rem;
	line-height: 22px;
	color: #727070;
	width: 230px;
}
.font18 {
	font-size: 1.8rem;
}
.red {
	color: #ff6666!important;
}
.dark {
	color:#333333!important;
}
.blue {
	color: #00baff!important;
}
.green {
	color: #03bc01!important;
}
.goon {
	height: 45px;
	width: 80%;
	color: #FFF;
	background-color: #00baff;
	border-radius: 3px;
}
.but111 {
	margin: 38px auto;
	text-align: center;
	font-size: 1.6rem;
}
.suctit1 {
	font-size: 1.8rem;
	text-align: center;
	margin: 0 auto;
	width: 220px;
	height: 48px;
	padding-top: 30px;
	/*background: url(/_images/inc1.png) no-repeat;*/
	background-position: 0px 31px;
	color: #727070;
}
/*购物车*/
.emptytext {
	font-size:1.6rem;
	color:#999;
	text-align:center;
	padding-top:30px;
}/*购物车为空时显示*/
  /*首页list为空时显示*/
.emptytext02 {
 font-size:1.6rem;
 color:#999;
 text-align:center;
 padding:20px 0;
}
.joinus {
	margin-top:20px;
}
.joinus a img {
	width:100%;
}
.cartop {
	width: 100%;
	height: 36px;
	border-bottom: 1px solid #eaeaea;
	font-size: 1.2rem;
	line-height: 36px;
	color: #afafaf;
}
.carli {
	width: 93%;
	height: 90px;
	padding: 10px;
}
.pic08 img {
	width: 121px;
	height: 90px;
}
.pic08 {
	width: 121px;
	float: left;
}
.cartxt {
	color: #595757;
	width: 42%;
	float: left;
	font-size: 1.4rem;
	padding-left: 10px;
}
.txtnolong {
	width: 100%;
	white-space: nowrap;
	word-break: keep-all;
	overflow: hidden;
	text-overflow: ellipsis;
}
.title1 {
	color: #afafaf;
	font-size: 1.6rem;
	line-height: 48px;
}
.num1 {
	font-size: 1.8rem;
}
.check {
	width: 32px;
	height: 90px;
	float: left;
	position: relative;
}
.carlist {
	margin-bottom: 46px;
}
.carlist li {
	border-bottom: 1px solid #eaeaea;
}
/*支付方式*/
.paylist li {
	border-bottom: 1px solid #eee;
	height: 70px;
	line-height: 70px;
	font-size: 1.4rem;
	background-color: #FFF;
}
.paylist li a {
	color: #666;
	background-size: 40px auto;
	display: block;
	height: 100%;
	padding-left: 45px;
}
.pay000 {
	background: url(../_images/ye.png) no-repeat left;
}
.pay111 {
	background: url(../_images/wx.png) no-repeat left;
}
.pay222 {
	background: url(../_images/zfb.png) no-repeat left;
}
.paytype {
	padding: 0 10px;
	background-color: #FFF;
}
.paytitle {
	font-size: 1.4rem;
	height: 18px;
	line-height: 18px;
	background-color:#efefef;
	border-top:1px solid #e5e5e5;
	border-bottom:1px solid #e5e5e5;
}
.rental {
	height: 60px;
	font-size: 1.4rem;
	line-height: 55px;
	padding: 0 10px;
}
.rental span {
	font-weight: 500;
	font-size: 3rem;
}
.titlebg {
	position: absolute;
	background: url(../_images/go.png) no-repeat left;
	z-index: 60;
	background-size: 15px 20px;
	height: 45px;
	width: 45px;
	line-height: 45px;
	top: 0;
	left: 10px;
}
.paybnt {
	background: #464646;
	left: 0;
}
.paygo {
	background: #00baff;
	right: 0;
}
.font24 {
	font-size: 2.4rem;
	font-weight: 300;
}
.font12 {
	font-size: 1.6rem;
}
/*div模拟复选框*/
.checkall {
	position: absolute;
	top: -14px!important;
	left: 10px!important;
}
.checkbox_con span {
	display: inline-block;
	position: relative;
}
.checkbox {
	display: none;
}
.checkbox + label {
	width: 20px;
	height: 20px;
	display: inline-block;
}
.checkbox + label {
	background: url(/_images/no.png) no-repeat;
	background-size: 20px 20px;
	position: absolute;
	top: 24px;
	left: 0;
}
.checkbox:checked + label {
	background: url(/_images/ok.png) no-repeat;
	background-size: 20px 20px;
}
/*商品详情弹出*/
.name222 {
	font-size: 1.6rem;
	height: 40px;
	line-height: 30px;
	border-bottom: 1px dashed #999;
}
.name222 span {
	font-size: 2.4rem;
	color: #F00;
}
.name333 {
	font-size: 1.2rem;
}
/*不可点击css*/
.disclick {
	background-color: #a0a0a0;
}
/*报错页style*/
.error {
	font-size: 1.4rem;
	background: url(../_images/error.png) no-repeat top;
	min-height: 150px;
	padding: 150px 10px 10px 10px;
	line-height: 23px;
}
.contactus {
	background: url(../_images/tel.png) no-repeat center;
	height: 45px;
	width: 45px;
	background-size: 30px 30px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 60;
}
/*take页样式*/
.take {
	font-size: 1.4rem;
	line-height: 23px;
	padding:10px;
}
.take00 {
	background: url(../_images/error.png) no-repeat top;
	padding-top: 150px;
}
.take01 {
	background: url(../_images/true.png) no-repeat top;
	padding-top: 150px;
	line-height:35px;
}
.but02 {
	height:40px;
	font-size:1.8rem;
	line-height:40px;
	width:100%;
	margin:0 auto;
}
.but02 a {
	display:block;
	border-radius:3px;
	background-color: #00baff;
	text-align:center;
	color: #fff;
	width:100%;
	margin-top:20px;
}
.door {
	width:100%;
}
.door span {
	display:block;
	word-break:break-all;
}
.suc {
	text-align:center;
	color:#0C0;
	padding-bottom:15px;
	font-size:2rem;
}
.reopen {
	font-size:1.8rem;
	font-weight:bold;
	padding-left:5px;
	text-decoration:underline;
}
.comtel {
	margin-top:20px;
	font-size:1.4rem;
	text-align:center;
}
.comtel span {
	background:url(../_images/inc.png) no-repeat left;
	padding-left:25px;
	display:inline-block;
}
.comtel a {
	font-size: 2.0rem;
	color: #f00;
}
.refresh {
	width:100%;
	text-align:center;
	color:#fff;
	padding:10px 0;
}
.refresh input {
	height:45px;
	line-height:45px;
	width:100%;
	border-radius:3px;
	margin:0 auto;
	background-color:#00baff;
}
 @media only screen and (max-width: 415px) {
.goods .name {
 max-width:70%;
 white-space:nowrap;
 word-break:keep-all;
 overflow:hidden;
 text-overflow:ellipsis;
}
}
/*list*/
.list1 {
}
.list1 li {
	padding:10px;
	font-size:1.5rem;
}
/*bying/index.php迭代新添样式*/
.news {
	position:absolute;
	top:0px;
	z-index:200;
	line-height:30px;
	color:#fff;
	font-size:1.2rem;
	width:100%;
	height:32px;
	text-align:center;
	background:url(../_images/newsbg.jpg) repeat;	box-shadow:0px 2px lightgray;

}
.news span {
	display:block;
	width:28px;
	height:30px;
	float:right;
	background:url(../_images/close11.png) no-repeat;
	background-size:28px 30px;
	z-index:201;
}

.sgbg {
	background:url(../upload/c/nav_1.png) no-repeat center -235px;
	background-size:20px auto;
}
.fkbg {
	background:url(../upload/c/nav_1.png) no-repeat center -292px;
	background-size:20px auto;
}
.mebg {
	background:url(../upload/c/nav_1.png) no-repeat center -348px;
	background-size:20px auto;
}
.size {
	background:url(../upload/c/nav_1.png) no-repeat center -408px;
	background-size:20px auto;
}
.nav a {
	color:#808080;
}
.nav .on {
	color:#00b9fc!important;
	background-size:20px 20px!important;
}
.nav .on .sgbg {
	background:url(../upload/c/nav_1.png) no-repeat center 7px;
	background-size:20px auto;
	color:red;
}
.nav .on .fkbg {
	background:url(../upload/c/nav_1.png) no-repeat center -54px;
	background-size:20px auto;
	color:red;
}
.nav .on .mebg {
	background:url(../upload/c/nav_1.png) no-repeat center -106px;
	background-size:20px auto;
	color:red;
}
.nav .on .size {
	background:url(../upload/c/nav_1.png) no-repeat center -172px;
	background-size:20px auto;
	color:red;
}
.botton45 {
	bottom:51px!important;
}
/*开锁密码*/
.lockpasstitle {
	padding:20px;
	text-align:center;
	font-size:1.8rem;
}
.lockpass {
	text-align:center;
	color:red;
	font-size:3.2rem;
	padding:0 0 20px 0;
}
/*end 开锁密码*/	










.formcode {
	width:100%;
	margin:0 auto;
	font-size:2.0rem;
}
.formcode>div {
    margin-top:0.5em;
}
.formcode .look{
    margin-top:0.5em;
}
.formcode input {
	height:50px;
	width:100%;
	border:1px solid #ddd;
	text-align:center;

}

.look p{
    font-size:14px;
    text-align: center;
    padding-top:20px;
    margin-bottom:40px;
}
.submit{
    background:#831a1b;
    color:#fff;
}
.formcode .text {
	border:1px solid #ddd;
}
.info {

	font-size:1.4rem;
	text-align:center;
	background:#3f3f3f;
	color:#acabab;
	padding:30px 0 15px 0;
}
.info p{
    margin-bottom:1rem;
}

.truemess {
	width:80%;
	padding:5rem 0 5rem 0;
	margin:0 auto;
	margin-top:5rem;
	margin-bottom:5rem;
	background:#ddd;
	font-size:2.6rem;
	text-align:center;
	color:red;
	border-radius:12px;
}
/*特点*/
.special {
	width:80%;
	padding:5rem 0 5rem 0;
	margin:0 auto;
	margin-top:5rem;
	margin-bottom:5rem;
	font-size:1.4rem;
	text-align:center;
	border-radius:12px;
}
/*扫码后的提示*/
/*扫码后的提示*/


.divtrue {
	width:100%;
    height:280px;
    background:url("/images/chanxun-first.jpg") no-repeat 0 0;
    background-size:100% 100%;
    padding:50px;
    line-height:30px;
    text-align: center;
    color:#fff;
    font-weight: bold;
    margin-top:2em;
}
.divtrue .text1 {

	font-size:2.0rem;
	text-align:center;
    margin-bottom:1em;
	margin-top:1em;
	color:#666;
}
.divtrue .text2 {
	font-size:1.4rem;
	text-align:left;
}
.divtrue .text2 span {
    text-align:left;
	color:#fff;
	font-size:2.0rem;
}
.divtrue .text3 {
	color:#666;
    padding-left:60px;
	font-size:1.4rem;
	text-align:left;

}
.formcode .text3{
    text-align: center;
}
.viewlog {
	margin:5rem;
}
.viewlog ul{
    margin-top:2em;
}
.viewlog div {
	background:#eee;
    padding:5px 0;
	font-size:2.0rem;
	text-align:center;
}
.viewlog li {

	font-size:1.3rem;
    border-top:1px solid #ddd;
    padding:1rem 0;
}
.aboutus {
	width: 100%;
}
.aboutus h3{
	font-size: 24px;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}
.aboutus p {
	width: 80%;
	font-size: 100%;
	margin-left: 10%;
}
.aboutus img {
	width: 80%;
	margin-top: 5%;
	margin-left: 10%;
}
/*音乐开关*/
.music {
	position:absolute;
	bottom:5px;
	right:10px;
	background-image: url("/upload/music.png");
	background-size: contain;
	height: 30px;
	width: 30px;
	z-index: 200;
}
.rotate {
	animation: 9.5s linear 0s normal none infinite rotate;
	-webkit-animation:9.5s linear 0s normal none infinite rotate;
}
.u-arrow-right {
	z-index:150;
	margin-top:-10px;
	right:20px;
	transform:scaleX(-1);
	-webkit-transform:scaleX(-1)
}
.u-arrow-right img {
	left:50%;
	margin:-7px 0 0 -14px;
	background-position:0 -82px;
	-webkit-animation:rightflip 1.5s infinite ease-in-out;
	-moz-animation:rightflip 1.5s infinite ease-in-out;
	animation:rightflip 1.5s infinite ease-in-out
}
@-webkit-keyframes rightflip {
0%, 30% {
opacity:0;
-webkit-transform:translate(10, 0)
}
60% {
opacity:1;
-webkit-transform:translate(0, 0)
}
100% {
opacity:0;
-webkit-transform:translate(-8px, 0)
}
}
@-moz-keyframes rightflip {
0%, 30% {
opacity:0;
-moz-transform:translate(10, 0)
}
60% {
opacity:1;
-moz-transform:translate(0, 0)
}
100% {
opacity:0;
-moz-transform:translate(-8px, 0)
}
}
@keyframes rightflip {
0%, 30% {
opacity:0;
transform:translate(10, 0)
}
60% {
opacity:1;
transform:translate(0, 0)
}
100% {
opacity:0;
transform:translate(-8px, 0)
}
}
.pre-wrap {
	width:24px;
	height:14px;
	position:relative;
	-webkit-animation:start 1.5s infinite ease-in-out;
	-moz-animation:start 1.5s infinite ease-in-out;
	animation:start 1.5s infinite ease-in-out
}
.pre-box1, .pre-box2 {
	height:15px;
	width:11px;
	position:absolute;
	top:-5px;
	overflow:hidden
}
.pre-box2 {
	left:10px
}
.pre1, .pre2 {
	width:14px;
	height:5px;
	position:absolute;
	box-shadow:1px -1px 1px #646464;
	top:5px
}
.pre1 {
	transform:rotate(130deg);
	-webkit-transform:rotate(130deg);
	left:1px
}
.pre2 {
	left:-4.5px;
	-webkit-transform:rotate(50deg);
	transform:rotate(50deg)
}
.pre-wrap-right {
	width:14px;
	height:24px;
	position:relative;
	-webkit-animation:rightflip 1.5s infinite ease-in-out;
	-moz-animation:rightflip 1.5s infinite ease-in-out;
	animation:rightflip 1.5s infinite ease-in-out
}
.pre-box3, .pre-box4 {
	height:11px;
	width:15px;
	position:absolute;
	overflow:hidden
}
.pre-box3 {
	top:10px
}
.pre3, .pre4 {
	width:14px;
	height:5px;
	position:absolute
}
.pre3 {
	transform:rotate(130deg);
	-webkit-transform:rotate(130deg);
	top:1px;
	box-shadow:1px -1px 2px #646464
}
.pre4 {
	top:6px;
	box-shadow:1px 1px 1.5px #646464;
	transform:rotate(40deg);
	-webkit-transform:rotate(40deg)
}
#audio_btn {
	position:absolute;
	right:20px;
	top:20px;
	z-index:200;
	width:30px;
	height:30px
}
.off {
	background-image:url(http://as.eqxiu.com/h5_view/css/../images/normalmusic.svg);
	background-size:contain
}
.rotate {
	-webkit-animation:rotating 1.2s linear infinite;
	-moz-animation:rotating 1.2s linear infinite;
	-o-animation:rotating 1.2s linear infinite;
	animation:rotating 1.2s linear infinite
}
@-webkit-keyframes rotating {
from {
-webkit-transform:rotate(0)
}
to {
	-webkit-transform:rotate(360deg)
}
}
@keyframes rotating {
from {
transform:rotate(0)
}
to {
	transform:rotate(360deg)
}
}
@-moz-keyframes rotating {
	from {
		-moz-transform: rotate(0)
	}
	to {
		-moz-transform: rotate(360deg)
	}

}

.button1{
float: none;
	width: 100%;
	height: 200px;
	text-align: center;
}

.button1 .button-txt{
	width: 100%;
	height: 200px;
	font-size: 50px;

}
.productTitle ul{
    margin-bottom:30px;
}
.top-one{
	text-align: center;
	position:relative;
    width:100%;
    margin:0 auto;
    margin-top:3em;
	overflow: hidden;
}
.top-one .productTitle ul{
    overflow:hidden;
}
.top-one .productTitle li{
    list-style: none;
    float:left;
    width:50%;
    border:1px solid #ddd;

}
.top-one .productTitle li a{
    display:block;
    width:100%;
    height:45px;
    line-height:44px;
    text-align: center;
    color:black;
}
.top-one .productTitle li a.hover{
    border-bottom:3px solid #831a1b;
    color:#831a1b;
}
.top-two{
	width: 100%;
	height: 500px;


}
.top-two img{
	width: 86%;
	height: 70px;
}

.dibu1{
	width: 100%;
	height: 170px;
	text-align: center;
}
.introduceText{
	margin:10px 0 45px 0;
	padding:40px;
}
.introduceText p{
	text-align: left;
	line-height: 2rem;
	font-size:14px;
	color:#999;
}
.introduceText p img{
	width:100%;
	margin:50px 0 15px 0;
}

.functionnav{
	width:100%;
	border: 0;
    overflow: hidden;
    margin-top:1.5em;
	margin-bottom:1.5em;
    padding-top:10px;
	padding-bottom:30px;
    border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;

}

.function{
	width: 25%;
	margin: 0;
	float: left;
	/*text-align: center;*/
}

.functionnav dl{
	margin-top: 0;
    width:100%;
}
.functionnav a.on dd{
	color:red;
}

.function  dt {
	width:60px;
	height:60px;
	margin:0 auto;
	border-radius: 50%;
	overflow: hidden;
}
.function  dt img{
	width:100%;
	height:100%;

}

.function dl dd{
	float: left;
	font-size: 14px;
	margin-top: 10px;
    margin-left:0px;
    width:100%;
    text-align: center;
}


.clearfix p{
	width: 100%;
	margin-top: -30px;
	text-align: center;
	font-size: 16px;
}
.others{
    padding:10px;
}
.others img{
    max-width:100%
}
.others h2{
    color:#831b1a;
    padding:25px 10px 15px 10px ;
}
.others li a{
    display:block;
    width:100%;
    margin:20px 0;
    overflow: hidden;
}
.others li a div{
    float:left;
    width:48%;
}
.others li a div:nth-child(2){
    margin-left: 10px;
    color:black;
}
.others li a div span{
    font-size:12px;

}


.other1{
	width: 33%;
	height: 175px;
	float: left;
}
.other1 dt{
	width: 100%;
	height: 120px;
	background:url(../upload/c/product2.jpg) no-repeat center;
	background-size: 120px 100px;
}
.other2{
	width: 33%;
	height: 175px;
	float: left;
}
.other2 dt{
	width: 100%;
	height: 120px;
	background:url(../upload/c/product3.jpg) no-repeat center;
	background-size: 120px 100px;
}
.other3{
	width: 33%;
	height: 175px;
	float: left;
}
.other3 dt{
	width: 100%;
	height: 120px;
	background:url(../upload/c/product4.jpg) no-repeat center;
	background-size: 120px 100px;
}
.others dd{
	font-size: 14px;
}

.erweima0 dl dt{
	background: url(../upload/c/kongerweima.png) no-repeat center;
	background-size: 95% 95%;
	width: 150px;
	height: 150px;
	float: left;
	margin-right: 20px;
}
.erweima0 dl dd{
	width: 40%;
	float: left;
	font-size: 18px;
	margin-top: 40px;
}
.erweima0{
	width: 100%;
    margin-top:20px;
}
.queryPrompt{
	position:relative;
	overflow: hidden;
	padding:12px 0;

}
.queryPrompt p{

	font-size:14px;
	color:red;
	position: absolute;
	right:0;
	bottom:0;
	z-index: 999;
}
.scanXian{
	width:95%;
	margin:0 auto;
	height:2px;
	background: red;
}

.kaisuoma{
	font-size:2.0rem;
	padding:10px 0;
	margin-bottom:2rem;
	color:#bf0303;
	background:rgba(255,255,255,.6);
	text-align:center;
}
.nav-tabs{
    border-bottom:none;
}

.nav > li > a:focus{
    border:none;

    border-radius: 0;

}
.nav-tabs>li a{
    border:none;
    color:#323232;
    font-weight: bold;
    font-size:20px;
    border-radius: 0;
    margin-right:0;
}

.swiper-container{
    overflow: initial;
}
.swiper-container-horizontal>.swiper-pagination{
    bottom:-30px;
}
